@* @{ *@
@*     ViewData["Title"] = "Выход из системы"; *@
@* } *@

@* <h2>Выход из системы выполнен успешно</h2> *@
@* <p>Вы были успешно выведены из системы. Через несколько секунд вас перенаправит на главную страницу.</p> *@

@* <script> *@
@*     // Через 3 секунды редиректим на главную страницу *@
@*     setTimeout(function() { *@
@*         window.location.href = '@Url.Action("Index", "Home")'; *@
@*     }, 3000); *@
@* </script> *@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
